@charset "UTF-8";

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.video-item {
    width: calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.video-item img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.video-item p {
    margin-top: 10px;
    font-size: 1.1em;
}