@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(121, 237, 208);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(26, 135, 4);
}

h1#principal {
    text-align: center;
    background-color: rgb(26, 135, 4);
    color: white;
}

h2 {
    color: rgb(2, 46, 19);
}

.basico {
    color: rgb(2, 46, 19);
}

.intermediario {
    color: rgb(168, 165, 4);
}

.avancado {
    color: rgb(168, 9, 7);
}

.destaque {
    background-color: rgba(175, 175, 92, 0.323);
}
