@charset "UTf-8";


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url('espaco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.conteudo-centralizado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.conteudo-centralizado img {
    max-height: 80vh;
    max-width: 90vw;
    width: auto;
    height: auto;
    display: block;
}